#micontainer2{
    top: 35%;
    opacity: 0;
    float: left;
    left: 15%;
    width: 75%;
    position: absolute;
    transition: opacity 2s ;
}
#imagenmia{
    position: relative;
    width: 15%;

    float: left;
    transition: top 2s, height 1s;
}
#detalles{
    float: left;
    position: relative;
    left: 50%;
    width: 50%;
    transition: left 2s;
}
#micontainer1{
    top: 35%;
    width: 75%;
    opacity: 0;
    float: left;
    left: 15%;
    position: absolute;
    transition: opacity 2s;
}
#logos{
    width: 20%;
    height: 100%;
    position: absolute;
}
#detallesp{
    
    float: left;
    position: relative;
    
    width: 50%;
    margin-left: 50%;
    transition: all 2s;
}
@media only screen and (max-width: 600px) {
    #micontainer1{
        left: 0%;
        top:30%;
        width: 100%;
    }
    #imagenmia{
        width: 40%;
    }
    #detalles{
        text-align: justify;
        top: -15%;
    }
    #detallesp{
        width: 100%;
        text-align: justify;
    }
    #micontainer2{
        left: 0%;
        top:30%;
        width: 100%;
    }
    
}
