.containerp{
    top:30%;
    position: absolute;
    left: 10%; /*si es con containerp1 se pone10.2%*/
    width: 80%;
    height: 100%;
    float: left;
}
/*
.containerp1{
    position:relative;
    float: left;
    height: 50%;
    width: 49.5%;
    border: 2px solid orange;

}*/
.containerheaderp{
    float: top;
    width: 80%;
    color: #ece4b7;
    top: 5%;
    position: relative;
    font-size: 40px;
    font-weight: bold;
}
.containercontenidop{
    float: top;
    width: 100%;
    position: relative;
    top: 7%;
    font-weight: 600;
    text-indent: 5%;
    
}
.containerlinksp{
    float: top;
    width: 100%;
    height: 100%;
    position: relative;
    top:10%;
    
}
.containerlinksp_titulo{
    float:left;
    width: 100%;
    font-size: 40px;
    color: #ece4b7;
    font-weight: bold;
    position: relative;
    left: 10%;

}
.containerlink{
    float:left;
    width:33%;
    height: 50%;
    position:relative;
    border-left: 2px solid orange;
    border-right: 2px solid orange;

}
.containerlink_titulo{
    float:top;
    position: absolute;;
    top: 2%;
    text-align: center;
    font-weight: 900;
    width: 100%;

}
.containerlink_imagen{
    float: top;
    top: 10%;
    position: absolute;
    width: 60%;
    left: 20%;
    height: 80%;
    opacity: 0;
    transition:opacity 1s
}
.containerlink_imagen:hover{
    opacity: 0.3;
}
.containerlink_descripcion{
    float: top;
    top: 9%;
    position: absolute;
    width: 60%;
    left: 20%;
    height: 80%;
}
.containerlink_boton{
    float:top;
    top:80%;
    z-index: 99999999999;
    position: absolute;
    left: 35%;
    font-family: fantasy;
    background: #ECE4B7;
    width: 25%;
    height: 9%;
    cursor: pointer;
    
}
#circulo {
    width: 100px;
            /*cursor*/
            z-index: 9999;
            mix-blend-mode: difference;
            height: 100px;
            opacity: 1;
            left: 35%;
            background-color: #000000;
            top: 40%;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            background: white;
            transition:all 0.2s linear;
            position: relative;
            text-combine-upright: inherit;
    
}
@media only screen and (max-width: 600px){
    .containerlink{
        width: 100%;

        border-left: 0px;
        border-right: 0px;
        border-top: 2px solid orange;
        border-bottom: 2px solid orange;
    }
    .containerp{
        top: 7%;
    }
    #circulo{
        z-index: 0;
        width: 0px;
        height: 0px;
    }
    
}