body{
    background-color: ghostwhite;
}
.container{
    width: 80%;
    height: 30%;
    top: 0px;
    margin-left: 10%;
    
    margin-right: 10%;
    background:#02020B;
    left: 0px;
    position: absolute;
}
#logo{
    float: left;
    height: 70%;
    z-index: 16;
    image-resolution: initial;
    position: absolute;
}
#logo:hover{
    animation:rota 4s 0s ease infinite ; 
    cursor: pointer;
}
@keyframes rota {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
@font-face {
    font-family: "Bitstream Vera Serif Bold";
    src: url("http://developer.mozilla.org/@api/deki/files/2934/=VeraSeBd.ttf");
  }
#letrasban{
    color: white;
    float: right;
    font-family: "Bitstream Vera Serif Bold";
    font-size: 30px;
}


#li1{
    position: absolute;
    top:40%;
    font-family: fantasy;
    background: #7FB069;
    height: 5%;
    float: left;
    width: 10%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    border: 2px solid black;
    border-top-width: 1px;
    left: 0px;
    margin-left: 0px;
    cursor: pointer;
    transition: width 1s, left 1s;
}
#li1:hover{
    
    float: left;
    width:13%;
    left: 15px;
}
p{
    margin-left: 4px;
}
#li2{
    position: absolute;
    top:35%;
    cursor: pointer;
    font-family: fantasy;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    background: #7FB069;
    height: 5%;
    width: 10%;
    transition: width 1s,
    left 1s;
    border: 2px solid black;
    border-top-width: 1px;
    left: 0px;
    margin-left: 0px;
}
#li2:hover{
    width:13%;
    left: 15px;
}

.boton{
    top: 80%;
    background: #ECE4B7;
    height: 20%;
    width: 20%;
    text-align: center;
    font-family: fantasy;
    cursor: pointer;
    position:relative;
    float: left;
    transition: height 1s,
    background 1s, width 1s;;
    
}
.icono{
    left: 0px;  
    justify-items: center;
    top:10%;
    float: left;
    bottom: 50%;
    height: 75%;
    position:absolute;

}
.boton:hover{
    height: 25%;
    background: #E6AA68; 
}
#typer{
    color:#7FB069 ;
    position: relative;
    float: left;
    top: 30%;
    left: -10%;
    font-weight: bold;
    font-size:2.2vmax;
    font-family:   monospace;
}
#typer2{
    color:#7FB069 ;
    position: relative;
    float: left;
    opacity: 0;
}
.typer3{
    position: relative;
    float: left;
    height: 20%;
    width:5%;
    
    transition: opacity 1s;
    top: 80%;
    cursor: pointer;
    left: 54%;
    transition: all 1s;
}

.typer4{
    position: relative;
    float: left;
    transition: all 1s;
    cursor: pointer;
    height: 20%;
    width:5%;
    opacity: 0;
    transition: opacity 1s;
    top: 0%;
    left: 49%;
}
.typerfooter{

}
#typerpaused{
    color:#7FB069 ;
    position: relative;
    z-index: 15;
    float: left;
    opacity: 0;
    cursor: default;
    top: 30%;
    font-weight: bold;
    font-size:2.5vmax;
    font-family:   monospace;
}
/*responsive*/
@media only screen and (max-width: 600px) {
.container{
    margin-left: 0%;
    width: 100%;
    height: 10%;
    
}
.typer3{
    height: 10%;
    width: 10%;
    left: 0px;
    position: absolute;

    content: none;
    display: none;
}
#containertyper{
    height: 10%;
    width: 10%;
    left: 0px;
    position: absolute;

    content: none;
    display: none;
}
#typer{
    height: 10%;
    width: 10%;
    left: 0px;
    position: absolute;

    content: none;
    display: none;
}
#typerpaused{
    height: 10%;
    width: 10%;
    left: 0px;
    position: absolute;

    content: none;
    display: none;
    
}
.typer4{
    height: 10%;
    width: 10%;
    left: 0px;
    position: absolute;

    content: none;
    display: none;
}

#logo{
    float: left;
    height: 100%;
    display:flex;
    position: relative;
}
.boton{
    float: left;
    width: 60%;
    top: 0%;
    height: 48%;
}
.boton:hover{
    height: 48%;
    width: 70%;
    background: #E6AA68; 
}
#li1{
    top: 20%;
    width: 80%;
}
#li1:hover{
    width: 100%;
    left:0px;
}
#li2{
    top:15%;
    width: 80%}
#li2:hover{
        width: 100%;
        left:0px;
    }
}

